# app.py
from flask import Flask, request, jsonify

app = Flask(__name__)

@app.route('/<path:endpoint_path>', methods=['GET'])
def get_path(endpoint_path):
    return f'Endpoint read: {endpoint_path}'


@app.route('/info', methods=['GET'])
def get_api_info():
    return 'info'